@model PhotoGalleryAdminPanel.Models.PushNotificationViewModel
@{
    ViewData["Title"] = "CreatePushNotification";
}
<div class="text-center">
    <h1 class="display-4"> Create a new push notification </h1>
    <br>
    @using(Html.BeginForm("CreatePushNotification", "Home", FormMethod.Post))
    {
        @Html.EditorForModel();
        <br>
        <input type="submit" class="btn-secondary" value="Send notification">
    }
</div>

